@import url('../node_modules/bootstrap/dist/css/bootstrap.css');

@import url('./font.css');
@import url('./global-html.css');
@import url('./signature.css');

/*.archives-hover{
  display: none;
}*/

.imgGal{
  overflow: hidden;
}

.imgGal img{
  display: block;
  /*width: 300px;*/
  width: 100%;
  /*height: 46vh;*/
}

.imgGal .img-prev-control, .imgGal .img-next-control {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0px;
}

.img-next-control, .img-prev-control{
  position: relative;
    top: 50%;
    width: 27px;
    height: 44px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    -moz-background-size: 27px 44px;
    -webkit-background-size: 27px 44px;
    background-size: 27px 44px;
    background-position: center;
    background-repeat: no-repeat;
}
.img-next-control{
	/* background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjcuNDQ0IiBoZWlnaHQ9IjU0LjA4NCIgdmlld0JveD0iMCAwIDcuMjYxMjA0NCAxNC4zMDk4NTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTS4yNjggNy4xM0w2Ljk0NC4yNjlNLjI2OCA3LjEzbDYuNzI3IDYuOTE0IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgc3Ryb2tlLXdpZHRoPSIuNTI5IiBmaWxsPSJub25lIiBzdHJva2U9IiMwMGYiLz48L3N2Zz4=); */
    right: 10px;
    left: auto;
}

.img-prev-control{
/*	background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjcuNDQ0IiBoZWlnaHQ9IjU0LjA4NCIgdmlld0JveD0iMCAwIDcuMjYxMjA0NCAxNC4zMDk4NTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTYuOTk0IDcuMTJMLjMxOC4yNTlNNi45OTQgNy4xMkwuMjY3IDE0LjAzNCIgZmlsbD0ibm9uZSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIHN0cm9rZS13aWR0aD0iLjUyOSIgc3Ryb2tlPSIjMDBmIi8+PC9zdmc+); */
    left: 10px;
    right: auto;
}

.swiper-button-prev{
   background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjcuNDQ0IiBoZWlnaHQ9IjU0LjA4NCIgdmlld0JveD0iMCAwIDcuMjYxMjA0NCAxNC4zMDk4NTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTS4yNjggNy4xM0w2Ljk0NC4yNjlNLjI2OCA3LjEzbDYuNzI3IDYuOTE0IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgc3Ryb2tlLXdpZHRoPSIuNTI5IiBmaWxsPSJub25lIiBzdHJva2U9IiMwMGYiLz48L3N2Zz4=);
}

.swiper-button-next{
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjcuNDQ0IiBoZWlnaHQ9IjU0LjA4NCIgdmlld0JveD0iMCAwIDcuMjYxMjA0NCAxNC4zMDk4NTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTYuOTk0IDcuMTJMLjMxOC4yNTlNNi45OTQgNy4xMkwuMjY3IDE0LjAzNCIgZmlsbD0ibm9uZSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIHN0cm9rZS13aWR0aD0iLjUyOSIgc3Ryb2tlPSIjMDBmIi8+PC9zdmc+);
}


/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = =
NAVIGATION
/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */

.navigation-top {
  margin: 0px;
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  font-size: 0.8em;
}

 #site-navigation{
   z-index: 50000;
   background: #fff;
 }


.landscape .navigation-top {
  margin-top: 2em;
}

.menu-main-container {
  background: #fff;
  height: 15vw;
  border-bottom: solid 1px #00f;
  padding-bottom: 18px;
}

.landscape .menu-main-container {
  height: 16vh;
  /* font-size: 1.6em; */
  border-bottom: solid 1px #00f;
  padding-bottom: 10px;
}

.menu-main-container a {
  text-decoration: none;
  color: #00f;
  /*color: #8080ff;*/
}

.menu-main-container li {
  list-style: none;
}
/* - - - - - - - - - - - - - -
        MENU
 - - - - - - - - - - - - - - */

.menu {
  z-index: 2000;
  padding-top: 8px;
  list-style: none;
  background: #fff;
  transition: 1s;
}


#top-menu {
  transition-property: opacity;
  transition-duration: .45s;
}
#top-menu > li {
  display: none;
}

#top-menu li a {
    z-index: 3000!important;
}

#top-menu .active  {
  display: block;
}

.hide-lp {
  opacity: 0;
}

.sub-menu {
  padding-top: 10px;
  position: absolute;
  top : 0;
  margin: 1.2em 0 -6px;
  padding: 0 12px 0 0;
  width : 76.92307692vw;
  list-style: none;
  visibility: hidden;
  z-index: 1;
  /* font-size: 0.8em; */
  /* display: none; */
}

ul.sub-menu > li{
  font-size: 0.6em;
}

.active .sub-menu li {
  visibility: visible;
  opacity: 1;
}

.sub-menu li {
  opacity: 0;
  transition: opacity .15s;
}
.sub-menu li a {
  color: #00f;
}


#top-menu .active > a, .sub-menu .active a {
  color: #00f;
}



/*Logo header*/
#signature-portique_LP {
  width: 90%;
  position: relative;
  display: block;

  margin: 0 auto;
  transition: width .2s, padding .1s;
}

.landscape #signature-portique_LP {
  width: 50%;
  padding: 5%;

  /*margin: 0 auto;
  display: block;*/
}
.logo-mobile {
  float: right;
  position: absolute;
  margin-right: 1em;
  top: 0.4em;
  right: 0;
  z-index: 2000;
}
.lp-home {
  display: block;
  margin: 0 auto;
  transform: rotate(0deg);
  transition: transform .8s;
}

.lp-move {
  animation: lpmove .65s;
  animation-iteration-count: 2;
}

.lp-active {
  transition: transform .8s;
  transform: rotate(-38deg);
}

@keyframes lpmove {
  0% {    transform: rotate(0deg);}
  25% {    transform: rotate(-5deg);}
  50% {    transform: rotate(5deg);}
  75% {    transform: rotate(-5deg);}
  100% {    transform: rotate(0deg);}

}

.pre-mob {
  /*width: 84.61538462%;
  padding-right: 11.53846154%;*/
}
.pre-mob li{
/*  display: block !important;
  width: 100%; */
}

.pre-mob .active .sub-menu li {
  visibility: hidden;
  opacity: 0;
}

.push-top {
  top: 1em;
}

/*Partie sociale*/
.social-item {
  display: block !important;
  position: relative;
}
.social-item a {
  position: relative;
  font-size: 1.4em;
}
.social-item a i {
  width: 100%;
  text-align: center;
}


/* - - - - - - - - - -
SOCIAL MEDIA ICONS
- - - - - - - - - - - */
.social-item {
  display: block !important;
  position: relative;
}

.social-item a {
  position: relative;
  font-size: 0.2em;
}

.social-item a i {
  width: 100%;
  text-align: center;
}

.icon-2x {
    font-size: 0.7em!important;
}

ul#mobile-footer > li > a{
  margin-right: 7vw;
}

#mobile-footer a{
  color: blue;
}

/* - - - - - - - - - -
MOBILE FOOTER
- - - - - - - - - - - */

footer.container-fluid {
  bottom: 0;
  position: fixed;
  width: 100vw;
  padding-left: 7.5vw;
  padding-right: 7.5vw;
  background-color: #fff;
  z-index: 3;
}

footer.container-fluid > .row{
  border-top: solid blue 1px;
}

ul#mobile-footer{
  list-style-type: none;
  display: inline-flex;
}

/* - - - - - - - - - -
APP
- - - - - - - - - - - */

.swiper-button-disabled{
  visibility: hidden;
}
/*
#app > div{
  /* what if we use simplebar js library ?
  overflow-y: scroll;
  overflow-x: hidden;
  /* depending on top-menu height...
  height: 85vh;
}
*/

#app > div > .bxslider > .swiper-slide-active{
  /* what if we use simplebar js library ? */
  overflow-y: scroll;
  overflow-x: hidden;
  /* depending on top-menu height... */
  height: 85vh;
}

#app > div > div.bxslider > div{
  padding-top: 20px;
}

/* - - - - - - - - - -
ARTICLES
- - - - - - - - - - - */
h1.titre, h2.subtitle{
  margin-bottom: 0.3em!important;
}

h2.subtitle{
  font-family: 'portype-italic';
}

h3.temps{
  margin-bottom: 1em!important;
  text-transform: uppercase;
}

/* À VENIR (article-mini) */
.a-venir h1{
  text-transform: uppercase;
  font-size: 5em;
  line-height: 0.85em;
}

.a-venir h2{
  font-size: 2.8em;
  line-height: 1em;
}

.a-venir h3.temps{
  text-transform: uppercase;
  font-size: 3em;
}

.a-venir p{
}

:not(.article_mini) > header > h1.titre, :not(.article_mini) > header > h2.subtitle, :not(.article_mini) > header > h3.temps{
  font-size: 3em;
  line-height: 1.1em;
  margin: 0;
}

/* conteneur d'images */
.thePostImages{
  padding-bottom: 7vh;
}

/* légende */
.swiper-slide > h2{
  font-size: 1.7em;
}

/* - - - - - - - - - -
ARCHIVES
- - - - - - - - - - - */
.archive-link h1.titre, .archive-link h2.subtitle, .archive-link h3.temps{
  font-size: 3.2em;
}


.archive-link h3.temps{
/*  margin: 0;
  font-size: 2.5em;
*/
}
div.archives article section.thePostText{
  padding-bottom: 7vh;
}

div.archives article{
  padding-left: 0px;
}

div.archives-hover > article, div.archives-hover > article > section.thePostText{
  padding-left: 0px;
}
  div#expositions div.bxslider.swiper-wrapper div.archives.swiper-slide.swiper-slide-active article{
  background-color: #fff;
  padding-top: 10vh;
  padding-bottom: 15vh;
}

/*------------------------------------*\
  GRADIENTS
\*------------------------------------*/

#middle-gradient{
  z-index: 500;
  top: -70px;
  width: 100%;
  height: 70px;
  position: absolute;
  /* Bottom grandient */
  background-image: -webkit-linear-gradient(rgba(255,255,255,0.001) 0%, #fff 100%, #fff 100%, #fff 100%, #fff 100%, #fff 100%, #fff 100%, #fff 100%, #fff 100%);
  background-image: -o-linear-gradient(rgba(255,255,255,0.001) 0%, #fff 100%, #fff 100%, #fff 100%, #fff 100%, #fff 100%, #fff 100%, #fff 100%, #fff 100%);
  background-image: -moz-linear-gradient(rgba(255,255,255,0.001) 0%, #fff 100%,  #fff 100%, #fff 100%, #fff 100%, #fff 100%, #fff 100%, #fff 100%, #fff 100%);
  background-image: linear-gradient(rgba(255,255,255,0.001) 0%, #fff 100%,  #fff 100%, #fff 100%, #fff 100%, #fff 100%, #fff 100%, #fff 100%, #fff 100%);
}

#middle-solid{
  z-index: 500;
  bottom: 0px;
  width:100%;
  height: 100px;
  position: absolute;
  height: 35px;
  background: #fff;
}

/* - - - - - - - - - -
CONTACT PRESSE
- - - - - - - - - - - */
.contact-presse p{
  font-size: 2.8em;
  line-height: 1em;
}

/* - - - - - - - - - -
Équipe
- - - - - - - - - - - */
.equipe h2{
  font-size: 2.8em;
  line-height: 1em;
}

/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = =
Template page-image.php
/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */

section.page-image img{
  min-width: 100%;
}



/* - - - - - - - - - -
Bootstrap 4 Media Queries
- - - - - - - - - - - */

@media(min-width:576px){

}

@media(min-width:768px){

}

@media(min-width:992px){
  /* Animation blinker */

  @keyframes blinker {
    50% { opacity: 0; }
  }


  #top-menu > .active > a{
    border-bottom: solid 1px #00f;
/*    transition: 0.3s;
    animation: blinker 1.7s linear infinite; */
  }

  /* Soulignement qui clignotte, à la même dimension du lien => Js ?
  #top-menu > .active > a:before {
  content: "";
  position: absolute;
  width: 40%;
  height: 1px;
  bottom: 0;
  left: 0px;
  border-bottom: 1px solid #00f;
  transition: 0.4s;
    animation: blinker 1.7s linear infinite;
}
*/

  #top-menu > .active > a{
    color: #00f !important;
  }

 .sub-menu > .active a {
    color: #00f;
    border-bottom: solid 1px transparent;
    transition: 0.3s;
    animation: blinker 1.7s linear infinite;
  }

  .thePostText{
    /* Pour compenser la présence du dégradé en bas de vue */
    padding-bottom: 70px;
  }
}

@media(min-width:1200px){
  /* afficher la grille avec des intrelignages constants */
  div.archives article section.thePostText{
    min-height: 35vh;
  }

  .archive-link h1.titre, .archive-link h2.subtitle, .archive-link h3.temps{
    margin: 0!important;
  }

  .imgGal{
    position: fixed;
    width: 50%;
  }

}
