@import url('../node_modules/bootstrap/dist/css/bootstrap.css');
@import url('../node_modules/simplebar/dist/simplebar.css');
@import url('./font.css');
@import url('./global-html.css');
@import url('./signature.css');
@import url('./navigation.css');


/*SIMBLEBAR STYLE*/
.simplebar-scrollbar {
    position: absolute;
    right: 8px;
    border-radius: 7px;
    min-height: 10px;
    width: 1px;
    opacity: 0;
    -webkit-transition: opacity .2s linear;
    transition: opacity .2s linear;
    background: #000;
    background-clip: padding-box;
}

/*ARCHIVE*/

/*.archives-hover{
  display: none;
}*/

.archives-hover {
  visibility: hidden;
  opacity: 0;
  transition: visibility .5s, opacity .5s;
}
.a-hover-open {
  visibility: visible;
  opacity: 1;
  /*transition: visibility 1s, opacity 1s;*/
}

.archives>article {
  position: absolute;
  top: 20px;
  /*padding-top: 20px;*/
  z-index: 1000;
  transition: top 1.2s;
}

.imgGal{
  overflow: hidden;
}

.imgGal img{
  display: block;
  /*width: 300px;*/
  width: 100%;
  /*height: 46vh;*/
}

.imgGal .img-prev-control, .imgGal .img-next-control {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0px;
}

.img-next-control, .img-prev-control{
  position: relative;
    top: 50%;
    width: 27px;
    height: 44px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    -moz-background-size: 27px 44px;
    -webkit-background-size: 27px 44px;
    background-size: 27px 44px;
    background-position: center;
    background-repeat: no-repeat;
}

.img-next-control{
	/* background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjcuNDQ0IiBoZWlnaHQ9IjU0LjA4NCIgdmlld0JveD0iMCAwIDcuMjYxMjA0NCAxNC4zMDk4NTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTS4yNjggNy4xM0w2Ljk0NC4yNjlNLjI2OCA3LjEzbDYuNzI3IDYuOTE0IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgc3Ryb2tlLXdpZHRoPSIuNTI5IiBmaWxsPSJub25lIiBzdHJva2U9IiMwMGYiLz48L3N2Zz4=); */
    right: 10px;
    left: auto;
}
.img-prev-control:hover{
  cursor:url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjcuNDQ0IiBoZWlnaHQ9IjU0LjA4NCIgdmlld0JveD0iMCAwIDcuMjYxMjA0NCAxNC4zMDk4NTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTS4yNjggNy4xM0w2Ljk0NC4yNjlNLjI2OCA3LjEzbDYuNzI3IDYuOTE0IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgc3Ryb2tlLXdpZHRoPSIuNTI5IiBmaWxsPSJub25lIiBzdHJva2U9IiMwMGYiLz48L3N2Zz4=), auto;
}
.img-next-control:hover{
  cursor: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjcuNDQ0IiBoZWlnaHQ9IjU0LjA4NCIgdmlld0JveD0iMCAwIDcuMjYxMjA0NCAxNC4zMDk4NTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTYuOTk0IDcuMTJMLjMxOC4yNTlNNi45OTQgNy4xMkwuMjY3IDE0LjAzNCIgZmlsbD0ibm9uZSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIHN0cm9rZS13aWR0aD0iLjUyOSIgc3Ryb2tlPSIjMDBmIi8+PC9zdmc+), auto;
}
.swiper-slide > img:hover{
  cursor:none;
}

.img-prev-control{
/*	background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjcuNDQ0IiBoZWlnaHQ9IjU0LjA4NCIgdmlld0JveD0iMCAwIDcuMjYxMjA0NCAxNC4zMDk4NTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTYuOTk0IDcuMTJMLjMxOC4yNTlNNi45OTQgNy4xMkwuMjY3IDE0LjAzNCIgZmlsbD0ibm9uZSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIHN0cm9rZS13aWR0aD0iLjUyOSIgc3Ryb2tlPSIjMDBmIi8+PC9zdmc+); */
    left: 10px;
    right: auto;
}

.swiper-button-prev{
   background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjcuNDQ0IiBoZWlnaHQ9IjU0LjA4NCIgdmlld0JveD0iMCAwIDcuMjYxMjA0NCAxNC4zMDk4NTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTS4yNjggNy4xM0w2Ljk0NC4yNjlNLjI2OCA3LjEzbDYuNzI3IDYuOTE0IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgc3Ryb2tlLXdpZHRoPSIuNTI5IiBmaWxsPSJub25lIiBzdHJva2U9IiMwMGYiLz48L3N2Zz4=);
}

.swiper-button-next{
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjcuNDQ0IiBoZWlnaHQ9IjU0LjA4NCIgdmlld0JveD0iMCAwIDcuMjYxMjA0NCAxNC4zMDk4NTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTYuOTk0IDcuMTJMLjMxOC4yNTlNNi45OTQgNy4xMkwuMjY3IDE0LjAzNCIgZmlsbD0ibm9uZSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIHN0cm9rZS13aWR0aD0iLjUyOSIgc3Ryb2tlPSIjMDBmIi8+PC9zdmc+);
}

.icon-2x {
    font-size: 0.7em!important;
}

ul#mobile-footer > li > a{
  margin-right: 7vw;
}

#mobile-footer a{
  color: blue;
}

/* - - - - - - - - - -
MOBILE FOOTER
- - - - - - - - - - - */

footer.container-fluid {
  bottom: 0;
  position: fixed;
  width: 100vw;
  padding-left: 7.5vw;
  padding-right: 7.5vw;
  background-color: #fff;
  z-index: 3;
}

footer.container-fluid > .row{
  border-top: solid blue 1px;
}

ul#mobile-footer{
  list-style-type: none;
  display: inline-flex;
}

/* - - - - - - - - - -
APP
- - - - - - - - - - - */
.thePostText a{
  text-decoration: underline;
}


.thePostText a.archive-link{
  text-decoration: none !important;
}


div.archives.swiper-slide div.simplebar-scroll-content div.simplebar-content article section.thePostText{
  text-decoration: none;
}
.swiper-button-disabled{
  visibility: hidden;
}
/*
#app > div{
  /* what if we use simplebar js library ?
  overflow-y: scroll;
  overflow-x: hidden;
  /* depending on top-menu height...
  height: 85vh;
}
*/

/*
div#app.container-fluid div.swiper-container-horizontal div.bxslider.swiper-wrapper div.swiper-slide{
  removing strange padding-top inside swipper-wrapper
  padding-top:0px;
}
*/


#app > div > .bxslider > .swiper-slide-active{
  /* what if we use simplebar js library ? */
  /*overflow-y: scroll;*/
  overflow-x: hidden;
  /* depending on top-menu height... */
  height: 85vh;
}

#app > div > div.bxslider > div{
  padding-top: 0px;
}

/*
div#app div.swiper-container-horizontal div.bxslider.swiper-wrapper div.swiper-slide div{
  padding-top: 20px;
}
*/

/* - - - - - - - - - -
ARTICLES
- - - - - - - - - - - */
h1.titre, h2.subtitle{
  margin-bottom: 0.3em!important;
}

h2.subtitle{
  font-family: 'portype-italic';
}

h3.temps{
  margin-bottom: 1em!important;
  text-transform: uppercase;
}

/* À VENIR (article-mini) */
.a-venir h1{
  text-transform: uppercase;
  font-size: 5em;
  line-height: 0.85em;
}

.a-venir h2{
  font-size: 2.8em;
  line-height: 1em;
}

.a-venir h3.temps{
  text-transform: uppercase;
  font-size: 3em;
}

.a-venir p{
}

:not(.article_mini) > header > h1.titre, :not(.article_mini) > header > h2.subtitle, :not(.article_mini) > header > h3.temps{
  font-size: 3em;
  line-height: 1.1em;
  margin: 0;
}

/* conteneur d'images */
.thePostImages{
  padding-bottom: 7vh;
}

/* légende */
.simplebar-content h2{
  font-size: 1.7em;
}
/* TAILLE TYPO LÉGENDES
.simplebar-content h2{
  font-size: 1.7em;
}
*/


/* removing strange padding-top on événement à venir */
.en-cours > div:nth-child(3){
  padding-top:20px;
}


/* - - - - - - - - - -
ÉVÉNEMENT
- - - - - - - - - - - */
/* removing event dates */
h2.evenement-type ~ h3.temps{
    display: none;
}

/* - - - - - - - - - -
ARCHIVES
- - - - - - - - - - - */
.archive-link h1.titre, .archive-link h2.subtitle, .archive-link h3.temps{
  font-size: 3.2em;
}


.archive-link h3.temps{
/*  margin: 0;
  font-size: 2.5em;
*/
}
div.archives article section.thePostText{
  padding-bottom: 7vh;
}

div.archives article{
  padding-left: 0px;
}

div.archives-hover > article, div.archives-hover > article > section.thePostText{
  padding-left: 0px;
}
  div#expositions div.bxslider.swiper-wrapper div.archives.swiper-slide.swiper-slide-active article{
  background-color: #fff;
  padding-top: 0px;
  padding-bottom: 15vh;
}

.archive-link h1.titre, .archive-link h2.subtitle, .archive-link h3.temps{
  margin: 0!important;
}

/*------------------------------------*\
  GRADIENTS
\*------------------------------------*/

#middle-gradient{
  z-index: 500;
  top: -70px;
  width: 100%;
  height: 70px;
  position: absolute;
  /* Bottom grandient */
  background-image: -webkit-linear-gradient(rgba(255,255,255,0.001) 0%, #fff 100%, #fff 100%, #fff 100%, #fff 100%, #fff 100%, #fff 100%, #fff 100%, #fff 100%);
  background-image: -o-linear-gradient(rgba(255,255,255,0.001) 0%, #fff 100%, #fff 100%, #fff 100%, #fff 100%, #fff 100%, #fff 100%, #fff 100%, #fff 100%);
  background-image: -moz-linear-gradient(rgba(255,255,255,0.001) 0%, #fff 100%,  #fff 100%, #fff 100%, #fff 100%, #fff 100%, #fff 100%, #fff 100%, #fff 100%);
  background-image: linear-gradient(rgba(255,255,255,0.001) 0%, #fff 100%,  #fff 100%, #fff 100%, #fff 100%, #fff 100%, #fff 100%, #fff 100%, #fff 100%);
}

#middle-solid{
  z-index: 500;
  bottom: 0px;
  width:100%;
  height: 100px;
  position: absolute;
  height: 35px;
  background: #fff;
}

/* - - - - - - - - - -
CONTACT PRESSE
- - - - - - - - - - - */
.contact-presse p{
  font-size: 2.8em;
  line-height: 1em;
}

/* - - - - - - - - - -
Équipe
- - - - - - - - - - - */
.equipe h2{
  font-size: 2.8em;
  line-height: 1em;
}

/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = =
Template page-image.php
/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */

section.page-image img{
  width: 100%;
}



/* - - - - - - - - - -
Bootstrap 4 Media Queries
- - - - - - - - - - - */

@media(min-width:576px){

}

@media(min-width:768px){

}

@media(min-width:992px){
  /* Animation blinker */

  @keyframes blinker {
    50% { opacity: 0; }
  }


  #top-menu > .active > a{
    border-bottom: solid 1px #00f;
/*    transition: 0.3s;
    animation: blinker 1.7s linear infinite; */
  }

  /* Soulignement qui clignotte, à la même dimension du lien => Js ?
  #top-menu > .active > a:before {
  content: "";
  position: absolute;
  width: 40%;
  height: 1px;
  bottom: 0;
  left: 0px;
  border-bottom: 1px solid #00f;
  transition: 0.4s;
    animation: blinker 1.7s linear infinite;
}
*/

  #top-menu > .active > a{
    color: #00f !important;
        animation: blinker 1.7s linear infinite;
  }

 .sub-menu > .active a {
    color: #00f!important;
    border-bottom: solid 1px transparent;
    transition: 0.3s;
    animation: blinker 1.7s linear infinite;
  }

  .thePostText{
    /* Pour compenser la présence du dégradé en bas de vue */
    padding-bottom: 70px;
  }

  div.container-fluid div#app.container-fluid div#expositions.row.container-fluid.swiper-container-horizontal div.bxslider.swiper-wrapper div.archives.swiper-slide.swiper-slide-active div.simplebar-scroll-content div.simplebar-content article{
    z-index: 500 !important;
    padding-top: 20px;
  }

  /* minimum height for articles sections,  */
  div.content div.archives-article article.row section.thePostText{
    min-height:90vh;
  }

  div.simplebar-track.horizontal{
    bottom:0px!important;
  }

}

@media(min-width:1200px){
  /* afficher la grille avec des intrelignages constants */
/*    min-height: 90vh;
    padding-bottom: 15vh;
  }
  */

  .imgGal{
    position: fixed;
    width: 50%;
  }

}
