/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = =
NAVIGATION
/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */

.navigation-top {
    /*margin-top: 3em;*/
    /* margin-top: 3em; */
  /* margin-top: 2em; latest*/
  /* margin-bottom: 15px; */
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  display: block;
  /*font-size: 1.25vw;*/
/*  font-size: 2.3vw; latest*/
}

nav#site-navigation{
  padding-top: 1em;
  border-bottom: solid 1px #00f;
}

.landscape .navigation-top {
/*  margin-top: 2em; latest*/
}

.menu-main-container {
  /*height: 15vw;*/
  min-height: 5em;
/*  font-size: 1.8em; latest*/
/*  border-bottom: solid 1px #00f; latest-2*/
  border-bottom: none;
  padding-bottom: 18px;
}

.landscape .menu-main-container {
  height: 16vh;
  font-size: 1.6em;
  border-bottom: solid 1px #00f;
  padding-bottom: 10px;
}

.menu-main-container a {
  text-decoration: none;
  color: #00f;
  /*color: #8080ff;*/
}

.menu-main-container li {
  list-style: none;
  font-size: 1.2em;
  line-height: 2em;
}

.menu {
  z-index: 2000;
  /* padding-top: 8px; */
  list-style: none;
  background: #fff;
  transition: 1s;
}

#top-menu {
  transition-property: opacity;
  transition-duration: .45s;
  padding-left: 0px;
}


#top-menu > li {
  display: none;
/*  font-size: 0.8em; latest*/
/*  line-height: 1.4em; */
}

#top-menu .active  {
  display: block;
}

.hide-lp {
  opacity: 0;
}

/*///*/

.sub-menu {
/*  padding-top: 8px; latest*/
  position: absolute;
  top : 0;
  margin: 0 -6px;
  padding: 0em 12px 0 0;
/*  padding: 0.15em 12px 0 0; latest*/
  width : 76.92307692vw;
  list-style: none;
  visibility: hidden;
  z-index: 1;
  /* display: none; */
}

@media (min-width: 768px) {
  .navigation-top {
    font-size: 1.25vw;
  }

  #top-menu > li {
    display: block;
/*    font-size: 0.8em; */
  /*  line-height: 1.4em; */
  }

  .sub-menu {
    /*padding-top: 10px;*/
    position: relative;
    top : 0;
    margin: 0 -6px;
  /*  padding: 0.15em 24px 0 0; */
    width : 92.30769231vw;
    list-style: none;
    visibility: hidden;
    z-index: 1;
    /* display: none; */
  }

  .traduction .sub-menu>li{
    opacity: 1;
    visibility: visible;
    display: inline-block;
  }
  .traduction .sub-menu>li:last-child::before{
    content: '/';
  }
}

.active .sub-menu li {
  visibility: visible;
  opacity: 1;
}

.pre-mob .active .sub-menu li {
  visibility: hidden;
  opacity: 0;
}

.sub-menu > li {
  opacity: 0;
  transition: opacity .15s;
  font-size: 0.6em;
}

#top-menu > li, .sub-menu > li{
  line-height: 1.2em !important;
}

 .sub-menu li a {
   color: #00f!important;
}


.sub-menu .active a {
  color: #00f;
}
/*///*/

/*Logo header*/
#signature-portique_LP {
  /* width: 90%; */
  max-height: 5em;
  position: relative;
  display: block;
  margin: 0 auto;
  transition: width .2s, padding .1s;
}

.landscape #signature-portique_LP {
  width: 50%;
  padding: 5%;

  /*margin: 0 auto;
  display: block;*/
}
.logo-mobile {
  float: right;
  position: absolute;
  /*margin-right: 1em;
  top: 0.4em;*/
  margin-right: 3em;
  top: .7em;
  right: 0;
  z-index: 2000;
}
.lp-home {
  display: block;
  margin: 0 auto;
  transform: rotate(0deg);
  transition: transform .8s;
}

.lp-move {
  animation: lpmove .65s;
  animation-iteration-count: 2;
}

.lp-active {
  transition: transform .8s;
  transform: rotate(-38deg);
}

@keyframes lpmove {
  0% {    transform: rotate(0deg);}
  25% {    transform: rotate(-5deg);}
  50% {    transform: rotate(5deg);}
  75% {    transform: rotate(-5deg);}
  100% {    transform: rotate(0deg);}

}

.pre-mob {
  /*width: 84.61538462%;
  padding-right: 11.53846154%;*/
}
.pre-mob li{
  display: block !important;
  /*width: 50%;*/
}

.push-top {
  top: .75em;
}

/*Partie sociale*/
.social-item {
  display: block !important;
  position: relative;
}
.social-item a {
  position: relative;
  font-size: 1.4em;
}
.social-item a i {
  width: 100%;
  text-align: center;
}





/* - - - - - - - - - -
Bootstrap 4 Media Queries
- - - - - - - - - - - */

@media(min-width:576px){

}

@media(min-width:768px){
  .navigation-top {
      font-size: 1.25vw;
  }

}

@media(min-width:992px){
  #site-navigation a {
      font-size: 0.6em;
  }
  .navigation-top {
      font-size: 1vw;
      margin-top: 0px !important;
  }


#top-menu{
  font-size: 1.2em !important;
}

#top-menu > li, .sub-menu > li{
  line-height: 0.8em !important;
}

/* fixing menu final countdtown */
.menu-main-container{
  border-bottom: none!important;
}

nav#site-navigation{
  height: 6em!important;
  border-bottom: solid 1px #00f!important;
}

.landscape .menu-main-container {
    height: 6em;
}

/* POSITION DES BOUTONS TRADUCTION ÉCRANS LARGES */

ul.sub-menu li.qtranxs-lang-menu-item {
  position: relative;
}

li.traduction ul.sub-menu {
  line-height: 0em !important;
}

ul.sub-menu li.qtranxs-lang-menu-item-en{
  margin-left: -15px;
}

#app > div > div.bxslider > div {
    padding-top: 0px;
}

.landscape .menu-main-container {
    min-height: auto;
}


}

@media(min-width:1200px){


}
