

/*------------------------------------*\
SIGNATURE PORTIQUE
\*------------------------------------*/

#signature-portique {
  font-size: 2.5em;
  visibility: hidden;
}

#signature-portique > img{
  position: fixed;
  z-index: 60000;
  padding: 15px;
  pointer-events: none;
}

#signature-portique_LE{
  top: 0px;
  left: 0px;
}

#signature-portique_PORTIQUE{
  top: 0px;
  right: 0px;
}

#signature-portique_CENTRE-REGIONAL{
  bottom: 0px;
  right: -6px;
}

#signature-portique_D-ART-CONTEMPORAIN-DU-HAVRE{
  bottom: 0px;
  left: 0px;
}

/* signature margins */

.signature_margin{
  background: transparent;
  opacity: 0;
  z-index:2000;
}

.signature_margin.left{
  top: 0px;
  left: 0px;
  height: 100%;
  width: 2.3em;
  position: fixed;
}

.signature_margin.right{
  top: 0px;
  right: 0px;
  height: 100%;
  width: 2.3em;
  position: fixed;
}

.signature_margin.bottom{
  bottom: 0px;
  width:100%;
  height: 0em;
  position: fixed;
}


/* - - - - - - - - - - - -
  SIGNATURE MEDIA QUERIES
- - - - - - - - - - - - */

@media(min-width:576px){

}

@media(min-width:768px){
  #signature-portique {
    font-size: 1.75em;
    visibility: visible;
 }

 /*------------------------------------*\
     BOTTOM GRADIENT
 \*------------------------------------*/

 #bottom-gradient{
   z-index: 500;
   bottom: 35px;
   width: 100%;
   height: 70px;
   position: fixed;
   /* Bottom grandient */
   background-image: -webkit-linear-gradient(rgba(255,255,255,0.001) 0%, #fff 100%, #fff 100%, #fff 100%, #fff 100%, #fff 100%, #fff 100%, #fff 100%, #fff 100%);
   background-image: -o-linear-gradient(rgba(255,255,255,0.001) 0%, #fff 100%, #fff 100%, #fff 100%, #fff 100%, #fff 100%, #fff 100%, #fff 100%, #fff 100%);
   background-image: -moz-linear-gradient(rgba(255,255,255,0.001) 0%, #fff 100%,  #fff 100%, #fff 100%, #fff 100%, #fff 100%, #fff 100%, #fff 100%, #fff 100%);
   background-image: linear-gradient(rgba(255,255,255,0.001) 0%, #fff 100%,  #fff 100%, #fff 100%, #fff 100%, #fff 100%, #fff 100%, #fff 100%, #fff 100%);
 }

 #bottom-solid{
   z-index: 500;
   bottom: 0px;
   width:100%;
   height: 100px;
   position: fixed;
   height: 35px;
   background: #fff;
 }

}

@media(min-width:992px){

}

@media(min-width:1200px){

}
